
.table-view .column-header,
.table-view .cell {
    -fx-pref-width: 100px;
}

/* تصميم زر Buy */
.button-users {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 6px;
}
